:root {
    --nav-bar-bg-color: #D73E3E;
  }
  


*{
    margin: 0;
    padding: 0;
    border: none;
}
a{  
    position: relative;
    text-decoration: none;
    color: inherit;
}
a::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(238, 255, 236);
    transform: scale(1,1);
    transition: background-color 0.3s;
}

a:hover::after{
    background-color: rgb(141, 141, 141);
}
.no-after-a::after{
    display: none;
}

.nav-bar{
    height: 7rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-logo{
    display: flex;
    margin-left: 3rem;
    /* width: 7rem;
    height: 4rem; */
}

.nav-bar-logo-text{
    color: white;
    font-size: 3rem;
}


/* .nav-bar-maintext-container{} */


.nav-bar-maintext{
    font-style: italic;
    display: flex;
    color: white;
}

.nav-bar-maintext a{
    font-size: 1.5rem;
    
}
.nav-bar-maintext>*{
    margin-left: 2rem;
}


.nav-bar-maintext :first-child{
    margin-left: 0 !important; 
}



.nav-bar-accept-course-logo{
    font-style: italic;
    width: 10rem;
    height: 2.7rem;
    background-color: var(--nav-bar-bg-color);
    margin-right: 4rem;
    border-radius: 999999px;
    display: flex   ;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nav-bar-accept-course-logo a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

}

.nav-bar-accept-course-logo a::after{
    width: 50%;
    bottom: 8px
}

/* Всплывающая форма */
.from-main-container{
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    z-index: 9999999;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease, all 0.3s ease;
    transform: translateY(-10px);
    padding-top: 10%;
    
}

.shown{
    visibility: visible;
    opacity: 1 !important;
    /* transform: translateY(0); */
}


.form-container{

    position: relative;
    box-shadow: 0px 0px 5px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5rem;
    /* margin-top: 5rem; */
    background-color: white;
    width: 40%;
    height: 35rem;
}


.form-container-field{
    border: 1px solid black;
    margin-top: 2rem;
    width: 50%;
    height: 3rem;
    background-color: rgba(224, 224, 224, 1);
    border-radius: 3rem;
    font-size: 2rem;
}

::-webkit-input-placeholder {
    font-size: 1.5rem; 
    text-align:center;
    font-style: italic;
    }
    
    :-moz-placeholder {
        font-size: 1.5rem; /* Firefox 18- */
       text-align:center; 
       font-style: italic; 
    }
    
    ::-moz-placeholder {
        font-size: 1.5rem;  /* Firefox 19+ */
       text-align:center;  
       font-style: italic;
    }
    
    :-ms-input-placeholder {  
        font-size: 1.5rem; 
       text-align:center; 
       font-style: italic;
    }





.main-container{
    position: relative;
    height: 40rem;
    background-color: rgba(225, 56, 56, 0.8);
}

.main-container-small-info-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    color:white;
    height: fit-content;
    position: absolute;
    top: 5rem;
    left: 9rem;
    
}

.small-info-container-title{
    font-style: oblique;
    font-size: 6rem;
}

.p-under-small-info-container-title{
    font-size: 3rem;
    font-style: oblique;
}


.info-container-statistics{
    font-style: oblique;
    display: flex;
    font-size: 2.5rem;
    position: absolute;
    top: 30rem;
    left: 6rem;
}


.info-container-statistics>div{
    margin-left: 4rem;
}



.girl-in-car-container{
    position: absolute;
    border-radius: 5rem;
    overflow: hidden;
    width: 40%;
    left: 58%;
    top: 10%;
}
.current-page-tag-a::after{
    background-color: var(--nav-bar-bg-color);
}
.main-container-cars{
    position: relative;
    height: 50rem;
    background-color: rgba(225, 56, 56, 0.8);
}
.main-container-cars-text{
    font-style: oblique;
    color: white;
    padding-top: 10rem;
    display: flex;
    font-size: 4rem;
}

.main-container-cars-text > *{
    margin-left: 2rem;
    padding-left: 1rem;

    padding-right: 1rem;
}

.open-menu-btn{
    transition: background-color 0.2s ease;
}
.open-menu-btn:hover{
    background-color: rgba(113, 0, 0, 0.8) !important;
}
